html {
    box-sizing: border-box;
    font-size: $base_font_sz;
}

*,*::before,*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

@font-face {
    font-family: Raleway_Regular;
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway_Bold;
    src: url("../fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
    font-family: OpenSans_Regular;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSans_Bold;
    src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
}

// Media Query

@mixin media($size) {
    $size: map-get($media_type,$size);
    @media screen and (min-width: $size) {
        @content;
    }
    
}

body {
    line-height: 1.4;
    margin: 0;
    background-color: $color_main_bg;
    color: white;
    font-family: Raleway_Regular, sans-serif;

    .wrapper {
        position: relative;
        width: 100%;
        margin: 0 auto;

        .header {
            width: 90%;
            margin: 0 auto;
            position: fixed;
            top:0;
            left:5%;
            right:5%;
            z-index: 200;      
        }

        .main {
            margin: 0 auto;
            position: absolute;
            top: 5em;
            left:0;
            right:0;
            z-index: 100;

            section {
                margin-top: 8em;
            }
        }
    }
}

.container--small {
    width: 100%;
    margin: 0 auto;

    @include media(medium) {
        width: 90%;
    }
}






