.productive {
    width: 80%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 2em;
    text-align: left;

    @include media(xmedium) {
        width: 88%;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2em;
    }

    .image {

        img {
            width: 100%;
        }
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
    
        p {
            font-size: 1.15rem;
        }
    
        .link  {
            a {
                color: $color_accent_cyan;
                background-image: url("../images/icon-arrow.svg");
                background-repeat: no-repeat;
                background-position: right center;
                background-size: contain;
                padding-right: 1.6em;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        @include media(xmedium) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 80%;

            h1 {
                font-size: 1.5em;
            }

            p {
                font-size: 0.85em;
            }

            .link a {
                font-size: 0.85em;
            } 
        }
    }
}