// Fonts
$base_font_sz: calc(0.6em + 1vw);

// Colors
$color_main_bg: #181f2a;
$color_footer_bg: #0b1523;
$color_testmonials: #202a3c;
$color_intro_signup: #1c2431;
$color_white: #ffffff;
$color_accent_cyan: #65e2d9;
$color_accent_blue: #339ecc;

// media type
$media_type : (small: 520px,medium: 780px,xmedium:880px,large: 1440px)